doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Main Page
  link(rel='stylesheet' href='/css/landingpage.css')
  link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
header.header1
.content
  h1 Revolutionize Fitness With Tech
  span.dialog
    p Your Workout Companion is the one stop place for all things workout related,
    p whether it be calculating BMI or tracking your fitness progress.
.login1
  a.login(href='/login') Click to Login
.lr1
  a.login(href='/login') Returning User?
  a.register(href='/login/register') New Here?
footer.Contact
  span.details Having Issues? Contact Us
  p Phone: +91 1234567890
  p email: random@hotmail.com
