@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair", regular-400;
}

body {
  display: flex;
  min-height: 100vh;
  background: url("/images/newbg2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  align-items: flex-start;
  justify-content: left;
  color: aliceblue;
}
.content {
  position: absolute;
  top: 30%;
  left: 30%;
}
.login1 {
  position: absolute;
  top: 52%;
  left: 43%;
  font-size: larger;
}
.lr1 {
  position: absolute;
  top: 5%;
}
.lr1 a {
  color: azure;
}
.lr1 a:hover {
  color: greenyellow;
}

.login1 a {
  color: azure;
}
.login1 a:hover {
  color: greenyellow;
}
.Contact {
  position: absolute;
  top: 87%;
  left: 2%;
}
